@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.landing-page{
    background: linear-gradient(0deg, rgba(150, 150, 226, 0.5), rgba(140, 184, 228, 0.5)), url('../Images/Home.jpg') repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.landing-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.typing-text{
    font-family: 'Roboto Slab', serif;
    font-size:50px;
}

@media only screen and (max-width: 600px) {
    .typing-text {
      font-size:5px;
    }
  }

/* About Us Video */
.video{
    text-align: center;
    margin-top: 30px;
}

.content{
    display: inline;
    font-size: 17px;
}

.video-frame{
    width: 380px;
    height: 280px;
}