@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.landing-page{
    background: linear-gradient(0deg, rgba(150, 150, 226, 0.5), rgba(140, 184, 228, 0.5)), url('../Images/Home.jpg') repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.landing-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
}

.typing-text{
    position: relative;
    font-family: 'Roboto Slab', serif;
    font-size:50px;
}

@media only screen and (max-width: 600px) {
    .typing-text {
      font-size:40px;
    }
  }

/* About Us Video */
.video{
    text-align: center;
    margin-top: 30px;
}

.content{
    display: inline;
    font-size: 17px;
    background-color: #daf6f8bd;
    padding: 20px 22px 20px 22px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.video-frame{
    width: 380px;
    height: 280px;
}

/* Sir Profile Card */

.profilecard{
    display: flex;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 5px;
}

.card{
    background-color: #daf6f8bd;
    border: none;
    box-shadow: none;
    width: 500px;  
}

.profilecard .profile{
     height: 300px;
     width: 250px;
     display: block;
     margin: auto;
     padding: 20px 0 20px 0;
}

.achievement, .highlights{
    display: inline;
    font-size: 17px;
    background-color: #daf6f8bd;
    padding: 20px 22px 20px 22px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.achievement .title, .highlights .title{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}